/* .header{
  text-align: center;
  font-size: 30px;
}

.image, .main, img{
    width: 100%;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
 */
