#mlk {
  color: #b82c62;
  margin-right: 350px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
  color: rgb(97, 96, 96);
  margin-right: 350px;
  font-style: italic;
  text-align: center;
}

hr{
  border-top: 1px dotted #b8812c;
  margin-left: 15px;
}

@media (max-width: 767px) {
  header{display: none;
  }
}
