html {
  background-color: #fffbf0fd;
}

h1,
h2 {
  font-family: "Give You Glory", cursive;
  margin: 0;
  font-size: 50px;
  color: #9ebbe8;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box,
#toolkit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 50px auto;
}

.header {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.header p {
  color: #333333;
  font-size: 40px;
  text-transform: lowercase;
  font-family: "Cormorant Garamond", serif;
}

#toolkit,
#myCerts,
footer,
.project-info {
  font-family: "Cormorant Garamond", serif;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
}

.project-card {
  width: 100%;
  max-width: 400px;
  margin: 30px;
}

.project-card img {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.project-info {
  padding: 15px;
}

.small-text {
  font-size: 14px;
}

.italic-text {
  font-style: italic;
}

a {
  color: #333333;
}

footer {
  display: flex;
  justify-content: center;
}
#copyright {
  margin-right: 10px;
}

#resume a {
  margin-left: 10px;
  text-decoration: none;
}

#myUL {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#myUL li {
  flex: 1 0 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

#myUL li svg {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.icons {
  width: 40px;
  height: 40px;
}

#myCerts {
  list-style-type: none;
  column-gap: 50px;
}
@media only screen and (max-width: 768px) {
  .project-card {
    margin: 15px;
  }
  .header p {
    font-size: 24px;
  }
  #myUL li {
    flex: 1 0 30%;
  }
}
