.avatar {
    width: 200px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid white;
  }

  h3, h1{
    color: white;
    text-align: center;
  }

  h3{
   font-style: italic;
  }

  .menu{
    height: 100vh;
    width: 350px;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: rgb(71, 96, 119);
    overflow-x: hidden;
    padding-top: 20px;
    transition: all 0.3s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
  text-align: center;
}

#button{
  display: none;
}

.icons span:hover, .menu h1:hover, .menu a:hover{
  color: #b8812c;
}

.fa{
  font-size: 30px;
  width: 100%;
  color: white;

}

ul .icons {
  list-style: none;
  overflow: auto;
}

.icons a {
  float: left;
  width: 30%;
  text-align: center;
  }

  @media (max-width: 767px) {
  .menu {display: none; width: 175px;}
  .avatar{display: none;}
  h1{font-size: large;}
  h3{display: none;}
  .icons a{float: left; width: 25%; text-align: center;}
  .active, .menu:hover{background-color: rgb(144, 192, 238); color: white;}
  #button, #button .fa{
    display: block;
    color: rgb(144, 192, 238);
    background-color: white;
    float: none;
    border: none;}
}
