<div style="text-align:center" id="menu">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <img src="assets/images/aw.jpg" alt="Avatar" class="avatar">


    <nav id="nav">
        <a href="#">
            <h1>{{ title }}</h1>
        </a>
        <h3>Software Developer</h3>

        <a href="#about">About Me</a>
        <a href="#skills">Skills</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>

    </nav>

    <footer>
        <ul class="icons">
            <a href="https://www.linkedin.com/in/april-webb/"><span class="fa fa-linkedin-square"></span>
            </a>
            <a href="https://github.com/aprilwebb"><span class="fa fa-github"></span></a>
            <a href="mailto:aprilewebb@gmail.com"><span class="fa fa-envelope-square"></span></a>
        </ul>
    </footer>

</div>
