<div id="wrapper">
    <div id="main">
        <section id="about">
            <div class="container">
                <h1>April Webb</h1>
                <p>I'm a recent graduate of LaunchCode's LC101 program in Tampa with a desire to continue learning.<br>
                    Skilled in JavaScript, Java, Angular, Spring Boot, and MySQL. <br>
                    I believe continuous learning is of utmost importance to build upon a solid foundation of knowledge.
                </p>
            </div>
        </section>
        <hr>

        <section id="skills">
            <div class="container">
                <p>Skills info goes here</p>
            </div>
        </section>
        <hr>


        <section id="projects">
            <div class="container">
                <p>Here are some of the projects I've worked on.</p>
            </div>
        </section>
        <hr>

        <section id="contact">
            <div class="container">
                <h2>Contact Me</h2>
                <form>
                    <div><input type="text" name="name" id="name" placeholder="Name"></div>
                    <div><input type="email" name="email" id="email" placeholder="E-mail"></div>
                    <div><input type="text" name="subject" id="subject" placeholder="Subject"></div>
                    <div><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
                    <div><input type="submit" value="Send message"></div>

                </form>
            </div>
        </section>

    </div>
</div>
