#main{
    margin-right: 0;
    padding: 0px 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p, ul{
    font-size: large;
}

hr{
    border-top: 1px dotted #b8812c;
}

ul{
    list-style-type: none;
}

h1{
    color: rgb(97, 96, 96);
}

a:hover{
    color: #b8812c;
  }

#skills ul, #skills li{
    margin: 0;
    padding: 0;
}

#about p, #projects p, a, h3, #main h1{
    text-align: left;
}

#contact form, p, input{
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.icons, .fa{
    text-align: left;
}

.fa {
    color:  #b82c62;
}

@media (max-width: 767px) {
    #about p {width: 545px;}
}

::-webkit-input-placeholder {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
:-moz-placeholder {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
::-moz-placeholder {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
:-ms-input-placeholder {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
